* {
  font-family: Arial;
}

p {
  font-weight: bold;
  padding: 20px;
  font-size: 120%;
  justify-content: left;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #1580a0;
  color: #fff;
}

/* Creates vertical line */

#cinematepic {
  border: 15px;
  border-color: white;
  display: flex;
  width: 50%;
}

.bigsec{
  justify-content: left;
}

#projectbox {
  display: flex;
  justify-content: left;
}

.fadein img{
  opacity:0.5;
  transition: 1s ease;
  }
  
  .fadein img:hover{
  opacity:1;
  transition: 1s ease;
  }

h1 {
  font-size: 400%;
  width: 300px;
  border: 15px solid purple;
  padding: 20px;
  margin: 20px;
}

h2 {
  padding: 20px;
}



.sec {
  display: flex;
  justify-content: flex-start;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  list-style-type: none;
  font-size: 120%;
  text-decoration: underline;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: grey;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.worksec {
  display: flex;
  flex-direction: column;
}


.pictext{
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.contactlist {
  display: flex;
  justify-content: center;
  min-width: 400px;
  list-style-type: none;
  font-size: 120%;
  text-decoration: underline;
}

.scaling {
  display: flex;
}

/* Scaling for devices */

@media screen and (min-width: 1024px){
  .scaling{
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .scaling{
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-device-width: 640px) {
  .scaling {
    width: 400px;
    height: 200px;
  }
}
